  
.main-card {
	background-size: cover;
	background-position: center;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(240, 240, 240);
	font-weight: bold;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
	background-image: image-url('list.jpg');
	opacity: .95;
}

  .card-style {
	background-size: cover;
	background-position: center;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(240, 240, 240);
	font-size: 26px;
	font-weight: bold;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
	background-image: image-url('list.jpg');
	opacity: .95;
	border-top-right-radius: 60px;
	border-top-left-radius: 60px;
  }
  
  .card-banner {
	height: 50vh;
	max-height: 400px;
	background-image: image-url('list.jpg');
  }